<div class="container">

    <div class="row">

        <div class="col-lg-6 col-lg-offset-3">
            <div class="jumbotron">
              <center>
                <img src="http://www.kofre.com.br/imgs/logotipo.png"></img>
                <h1> nTopus</h1>
                <!-- <p>
                    Bem-vindo!
                </p> -->
                <p><a class="btn btn-link btn-lg" href="#/register" role="button">Cadastro</a> <a class="btn btn-default btn-lg" href="#/login" role="button">Login</a></p>
              </center>
            </div>
        </div>

    </div>

</div>
