<div class="container">

    <div class="row">

        <div class="col-lg-6 col-lg-offset-3">
            <div class="jumbotron">
                <h1>nTopus: login</h1>
                <p>
                    <div class="input-group margins">
                        <span class="input-group-addon" id="basic-addon1">Usuário</span>
                        <input type="text" class="form-control" placeholder="Usuário" aria-describedby="basic-addon1" ng-model="user.name">
                    </div>
                    <div class="input-group margins">
                        <span class="input-group-addon" id="basic-addon1">Senha</span>
                        <input type="password" class="form-control" placeholder="Senha" aria-describedby="basic-addon1" ng-model="user.password">
                    </div>
                </p>
                <p><a class="btn btn-primary btn-lg" ng-click="login()" role="button">Learn more</a></p>
            </div>
        </div>

    </div>

</div>
